body,html{
    margin: 0;
}

.limit-width{
    width: 100%;
    margin: auto;
    text-align: center;
}

.main-header{
    background-color: #2b2d31;
}

.main-content img{
    width: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}



.my-name{
    float: left;
    padding: 20px 35px;
    background-color: #1a1a1a;
    border-radius: 20px;
}
    .orbitron{
        color: #ffdd00;
        font-family: 'Orbitron', sans-serif;

    }

.nav-bar{
    margin-top: 50px;
    text-align: right;
}

.nav-bar li{
    display: inline-block;
    padding: 5px 20px;
    margin-left: 10px;
}

.nav-bar a{
    text-decoration: none;
}

.para2,
.para3{
    clear: both;
}

.main-footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2b2d31;
}

.footer-content{
    color: #808080;
}



.global-width{
    width:  1170px;
    margin: auto;
    overflow: hidden;
}

.main-content{
    margin-top: 60px;
    margin-bottom: 60px;
    border: 2px solid black;
}
